.orbit {
  @media (max-width: 767px) {
    margin-top: -27vh !important;
    margin-bottom: -15vh !important;
  }
  @media (min-width: 768px) {
    margin-top: -5vh !important;
    margin-bottom: 5vh !important;
    margin-right: 40vw !important;
  }
}
