.this-website-container {
  margin-top: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.github-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.under-construction-smoke {
  margin-top: 1vh;
  margin-left: -3vw;
}

.knowledge-image {
  margin-top: -6vh;
  margin-left: 4vw;
}
