.github-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.under-construction-smoke {
  margin-top: 1vh;
  margin-left: -3vw;
}

.knowledge-image {
  margin-top: -6vh;
  margin-left: 4vw;
}

.sub-section-container {
  padding: 2%;
  border-bottom: 0.3vh solid var(--main-color);
  box-shadow: 0 3vh 3vh 0 rgba(0, 0, 0, 1);
  background-color: var(--main-background-color);
  @media (max-width: 768px) {
    padding: 3%;
  }
}
.secondary-background {
  background-color: var(--secondary-background-color);
}
.phone-github-image-smoke {
  margin-left: 11vw;
}
.mobile-image {
  margin-right: 1vw !important;
}
