.content-section {
  width: 98vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  background-color: var(--secondary-background-color);
  border: 0.1vw solid black;
  color: var(--main-hover-color);
  box-shadow: 0.8vw 1.5vh 20px 5px rgba(0, 0, 0, 0.5);
}
.content-section-header {
  display: flex;
  align-items: center;
  background-color: var(--main-background-color);
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  border-bottom: 0.2rem solid var(--main-color);
  @media (max-width: 767px) {
    padding-top: 0vh;
  }
}

.content-section-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 1.6vw;
  margin-left: 0;

  @media (max-width: 767px) {
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-left: -1rem;
  }
  @media (min-width: 768px) {
    font-size: 1.3vw;
    margin-bottom: 0.3vh;
  }
}
.children-component {
  width: 100% !important;
  padding-left: 2vw;
}
