.general-data-action-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-transition {
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .success {
    .MuiSvgIcon-root {
      color: green;
    }
    transform: scale(1.2);
  }

  .error {
    .MuiSvgIcon-root {
      color: red;
    }
    transform: scale(1.2);
  }
}
