.skills-list {
  ul {
    width: 100%;
    margin-top: 1vh;
    margin-left: -4.2%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 1.2%;
  }

  li {
    margin-bottom: 0.4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
