.welcome-page-background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-background-color) !important;
  overflow-y: auto;
  overflow-x: hidden;
  content-visibility: auto;
  will-change: contents;
}

h1 {
  position: relative;
  z-index: 1;
}

.welcome-page-foreground {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.cool-text {
  font-size: 6rem;
  font-weight: bold;
  background-size: 300%;
  color: white;

  animation: fade-animation-in 2.5s ease-in forwards,
    color-change 3s ease forwards, gradient-animation 4.6s ease infinite;
  @media (max-width: 767px) {
    font-size: 4rem;
    margin-top: 60vh !important;
    margin-left: 3vw !important;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes fade-animation-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    color: var(--secondary-background-color);
    background: none;
  }
  100% {
    color: transparent;
    background: linear-gradient(
      90deg,
      var(--secondary-background-color),
      var(--main-color),
      var(--main-hover-color),
      var(--highlight-color)
    );
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.threejs-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: triangle-pulse 2.3s infinite alternate ease-in-out 0.5s;
}

@keyframes triangle-pulse {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(5px);
  }
}
