.sidebar-menu {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-background-color-translucent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  transition: opacity 0.3s ease;
}

.sidebar-menu-logo {
  height: 15vh;
  width: auto;
  padding-top: 1vh;
  padding-bottom: 2vh;
  cursor: pointer;
}

.sidebar-menu-logo-wrapper {
  padding-left: 1vw;
  background-color: var(--secondary-background-color);
  border-bottom: 0.7vh solid var(--main-color);
  box-shadow: 0 3vh 30px rgba(0, 0, 0, 0.5);
}

@keyframes neonFlicker {
  0% {
    box-shadow: -6px 0 12px var(--main-color), 0 -6px 12px var(--main-color),
      0 6px 12px var(--main-color);
  }
  25% {
    box-shadow: -7px 0 14px var(--main-color), 0 -7px 14px var(--main-color),
      0 7px 14px var(--main-color);
  }
  50% {
    box-shadow: -8px 0 16px var(--main-color), 0 -8px 16px var(--main-color),
      0 8px 16px var(--main-color);
  }
  75% {
    box-shadow: -7px 0 14px var(--main-color), 0 -7px 14px var(--main-color),
      0 7px 14px var(--main-color);
  }
  100% {
    box-shadow: -6px 0 12px var(--main-color), 0 -6px 12px var(--main-color),
      0 6px 12px var(--main-color);
  }
}

.sidebar-button.active-neon {
  animation: neonFlicker 1.8s infinite alternate;
}

.orbit-container {
  z-index: 1050 !important;
  position: relative !important;
  scale: 0.75 !important;
  top: 60vh;
  right: 19vw;
}
