:root {
  --zeo-orange: #ff914b;
  --zeo-dark-blue: #00b39b;
  --footer-text-color: #6a6a6a;
}

[data-theme="dark"] {
  --main-color: #af53ff;
  --main-hover-color: #00ffff;
  --alternative-hover-color: #00ffff;
  --highlight-color: #4bff3a;
  --main-background-color: #36333c;
  --main-background-color-translucent: #36333c55;
  --main-text-color: #00ffff;
  --secondary-background-color: #27242c;
  --secondary-background-color-translucent: #242129cc;
  --inactive-element-color: #4c4554;
}

[data-theme="light"] {
  --main-color: #efc847;
  --main-hover-color: #181818;
  --alternative-hover-color: #0057d9;
  --highlight-color: #0057d9;
  --main-background-color: #d6d6d6;
  --main-background-color-translucent: #d7d7d755;
  --main-text-color: #000000;
  --secondary-background-color: #ffffff;
  --secondary-background-color-translucent: #ffffffcc;
  --inactive-element-color: #d0d0d0;
}
