:root {
  --zeo-orange: #ff914b;
  --zeo-dark-blue: #00b39b;
}

[data-theme="dark"] {
  --main-color: #af53ff;
  --main-hover-color: #00ffff;
  --highlight-color: #4bff3a;
  --main-background-color: #36333c;
  --main-background-color-translucent: #36333c55;
  --main-text-color: #00ffff;
  --secondary-background-color: #27242c;
}

[data-theme="light"] {
  --main-color: #efc847;
  --main-hover-color: #181818;
  --highlight-color: #0057d9;
  --main-background-color: #9f9f9f;
  --main-background-color-translucent: #d7d7d755;
  --main-text-color: #000000;
  --secondary-background-color: #ffffff;
}
