:root {
  --main-purple-color: #af53ff;
  --text-purple-color: #d19dff;
  --main-background-color: #36333c;
  --header-background-color: #27242c;
  --main-text-color: #00ffff;
  --main-blue-color: #00ffff;
}
