.pdf-viewer {
  width: 98vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  background-color: var(--secondary-background-color);
  border: 0.1vw solid black;
  color: var(--main-hover-color);
  box-shadow: 0.8vw 1.5vh 20px 5px rgba(0, 0, 0, 0.5);
}
.pdf-viewer-header {
  display: flex;
  align-items: center;
  background-color: var(--main-background-color);
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  border-bottom: 0.2rem solid var(--main-color);
  /*  background-color: var(--main-background-color);
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.2rem solid var(--main-color); */
}
.resume-container {
  text-align: center !important;
  overflow: auto;
  height: 60vh;
  margin: 0;
  padding: 0;
  border: 0.4vw solid var(--main-background-color);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: var(--secondary-background-color) !important;
}
.scale-indicator {
  padding: 0.5vw;
  padding-top: 0.3vw;
  background-color: var(--secondary-background-color);
  border-radius: 0.5vw;
}

.resume-document {
  margin: 0;
  padding: 0;
}

.react-pdf__Document {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.react-pdf__Page {
  margin: 0;
  padding: 0;
}

.flag-icon {
  @media (max-width: 767px) {
    width: 1rem;
    height: auto;
  }
  @media (min-width: 768px) {
    width: 1.2rem;
    height: auto;
  }
}

.resume-title {
  font-weight: bold;
  margin-right: 1.6vw;
  margin-left: 0;

  @media (max-width: 767px) {
    font-size: 1rem;
    margin-top: 0.6rem;
    margin-left: -1rem;
  }
  @media (min-width: 768px) {
    font-size: 1.2vw;
    margin-top: 0.5rem;
  }
}
