.general-text-column {
  margin-left: -3vw;
  text-align: center;
}

.name-text {
  margin-top: 7vh;
  font-size: 2vw;
  text-align: center;
}

.description-text {
  font-size: 1.15vw;
  text-align: center;
}

.general-data-column {
  margin-top: 1vh !important;
  margin-left: 1vw;
}
.general-data-list {
  margin: 0;
  padding: 0;
  margin-top: 0.5vw !important;
  margin-bottom: 0.5vw !important;
  padding-left: 0.9vw;
  padding-right: 1vw;
  list-style: none;
}

.general-data-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1vw;
  padding: 0.25vw 0;
}
.general-data-list-icon {
  font-size: 1.3vw !important;
  margin-bottom: 0.2vw;
  margin-right: 0.5vw;
  margin-left: 0.1vw;
}
.language-sub-section {
  margin-bottom: 0.5vw;
}

.general-data-action-button {
  background: none;
  border: none;
  &:hover {
    background-color: var(--secondary-background-color);
    .MuiSvgIcon-root {
      color: var(--main-color);
    }
  }
}
