.general-text {
  margin-top: 6vh !important;
  margin-right: -10vw !important;
  margin-left: -6.7vw !important;
  font-size: 1.2rem;
  width: 50vw !important;
}
.hi-text {
  font-size: 4rem;
}
.thanks-text {
  font-size: 1.4rem;
  margin-bottom: 2.5vh;
}
.description-text {
  margin-top: 2.5vh !important;
  text-align: justify;
}
