.level-indicator-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}
.level-indicator {
  display: flex;
  margin-top: 1.5vh;
  margin-bottom: 1vh;

  .bar {
    background-color: var(--main-background-color);
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .bar.on {
    background-color: var(--active-color);

    animation: neonFlicker 6s infinite ease-in-out,
      periodicOffGlow 15s infinite ease-in-out;
  }

  .bar.on:nth-child(-n + 3) {
    --active-color: var(--main-color);
  }
  .bar.on:nth-child(4) {
    --active-color: var(--main-hover-color);
  }
  .bar.on:nth-child(5) {
    --active-color: var(--highlight-color);
  }
}

@keyframes neonFlicker {
  0% {
    filter: brightness(1);
  }
  33% {
    filter: brightness(1.05);
  }
  66% {
    filter: brightness(0.95);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes periodicOffGlow {
  0%,
  80% {
    box-shadow: 0 0 5px var(--active-color), 0 0 10px var(--active-color),
      0 0 20px var(--active-color), 0 0 30px var(--active-color);
  }
  81%,
  83% {
    box-shadow: none;
  }
  82%,
  84% {
    box-shadow: 0 0 5px var(--active-color), 0 0 10px var(--active-color),
      0 0 20px var(--active-color), 0 0 30px var(--active-color);
  }
  85%,
  100% {
    box-shadow: 0 0 5px var(--active-color), 0 0 10px var(--active-color),
      0 0 20px var(--active-color), 0 0 30px var(--active-color);
  }
}

.level-indicator-label {
  z-index: 1;
  color: var(--main-hover-color);
  text-shadow: 0 0 5px var(--main-hover-color), 0 0 10px var(--main-hover-color);
  font-size: 1.2rem;
  position: absolute;
  top: -1.2%;
  left: 0;
  width: 100%;
  text-align: left;
  &:hover {
    color: var(--main-hover-color);
  }
}
