.copy-to-clipboard-button {
  font-size: 1.3vw !important;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  .MuiSvgIcon-root {
    transition: color 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    background-color: var(--secondary-background-color);
    transform: scale(1.2);

    .MuiSvgIcon-root {
      color: var(--main-color);
      transform: scale(1.2);
    }
  }

  .icon-transition {
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .success {
    .MuiSvgIcon-root {
      color: green;
    }
    transform: scale(1.2);
  }
  .error {
    .MuiSvgIcon-root {
      color: red;
    }
    transform: scale(1.2);
  }
}

.copy-to-clipboard-button-icon {
  .MuiSvgIcon-root {
    font-size: 1.3vw !important;
    margin: 0.2vw 0.5vw 0.2vw 0.1vw;
  }
}
