.image-component-wrapper {
  position: relative;
  display: inline-block;

  &:hover .smoke-container {
    transform: scale(1.3);
  }
}

.image-component {
  width: 15vw;
  height: auto;
  position: relative;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  &:hover {
    transform: scale(var(--hover-scale, 1.2));
  }
}

$smoke-colors: var(--main-hover-color), var(--main-color);
$animation-duration: 6s;
$num-smoke-puffs: 55;

.smoke-container {
  position: absolute;
  width: 10vw;
  height: 10vh;
  left: 34%;
  top: 60%;
  overflow: visible;
  transition: transform 0.3s ease-in-out;
  z-index: 1;

  transform-origin: center center;
}

@keyframes smoke {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(2.2);
    opacity: 0;
  }
}

.smoke {
  position: absolute;
  background: nth($smoke-colors, random(2));
  border-radius: 50%;
  filter: blur(1em);
  animation: smoke $animation-duration infinite ease-in-out;

  @for $i from 1 through $num-smoke-puffs {
    &:nth-child(#{$i}) {
      --x: #{random(5) - 6}vw; //spread
      --y: #{random(5) - 6}vh;
      animation-duration: $animation-duration + (random(3) * 1s);
      animation-delay: (random(3) * -1s);
      background: nth($smoke-colors, random(2));
      width: #{random(4) + 8}vw; //smoke puff size larger
      height: #{random(4) + 11}vh; //smoke puff size larger
      opacity: #{random(3) * 0.25 + 0.4};
    }
  }
}
