.main-page-header {
  color: var(--main-text-color);
  background-color: var(--header-background-color);
  align-items: center;
  width: 100vw;
}
.main-page-header-logo {
  height: 130px;
  width: auto;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
