.align-europe-map {
  margin-top: -4vh;
  margin-left: 3vw;
}
.align-personal-photos {
  margin-top: -10vh;
}
.align-personal-photos-2 {
  margin-left: -3vw;
}
.personal-section {
  font-size: 1.1em;
}
