.align-europe-map {
  margin-top: -4vh;
  margin-left: 3vw;
}
.align-personal-photos-left {
  margin-top: -10vh;
}
.align-personal-photos-right {
  margin-left: -3vw;
}
.personal-section {
  font-size: 1.1em;
}
.initial-personal-text {
  margin-top: 7vh;
}
