:root {
  --cursor-light: url("resources/images/cursors/arrow/cursorLight.png"), auto;
  --cursor-dark: url("resources/images/cursors/arrow/cursorDark.png"), auto;

  --pointer-light: url("resources/images/cursors/pointer/pointerLight.png"),
    pointer;
  --pointer-dark: url("resources/images/cursors/pointer/pointerDark.png"),
    pointer;
}

::selection {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

button:hover,
a:hover {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

button:active,
a:active {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

body {
  color: var(--main-text-color) !important;
  background-color: var(--main-background-color);
}
body.light-mode {
  cursor: var(--cursor-light) !important;
  background-color: var(--main-background-color);
}

body.dark-mode {
  cursor: var(--cursor-dark) !important;
  background-color: var(--main-background-color);
}

button,
a,
.clickable {
  cursor: var(--pointer-light) !important;
}

.dark-mode button,
.dark-mode a,
.dark-mode .clickable {
  cursor: var(--pointer-dark) !important;
}

.page-background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color) !important;
  overflow-y: auto;
  overflow-x: hidden;
}
