:root {
  --cursor-light: url("resources/images/cursors/arrow/cursorLight.webp"), auto;
  --cursor-dark: url("resources/images/cursors/arrow/cursorDark.webp"), auto;

  --pointer-light: url("resources/images/cursors/pointer/pointerLight.webp"),
    pointer;
  --pointer-dark: url("resources/images/cursors/pointer/pointerDark.webp"),
    pointer;
}

::selection {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

button:hover,
a:hover {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

button:active,
a:active {
  background-color: var(--main-hover-color);
  color: var(--secondary-background-color);
}

body {
  color: var(--main-text-color) !important;
  background-color: var(--main-background-color);
}
body.light-mode {
  cursor: var(--cursor-light) !important;
  background-color: var(--main-background-color);
}

body.dark-mode {
  cursor: var(--cursor-dark) !important;
  background-color: var(--main-background-color);
}

button,
a,
.clickable {
  cursor: var(--pointer-light) !important;
}

.dark-mode button,
.dark-mode a,
.dark-mode .clickable {
  cursor: var(--pointer-dark) !important;
}

.page-background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.7vw !important;
  height: 1vh !important;
}
::-webkit-scrollbar-track {
  background: var(--secondary-background-color) !important;
  border: 0.1vw solid var(--main-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color) !important;
  border-radius: 50px;
  border: 0.1vw solid var(--main-hover-color) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover-color) !important;
}

.MuiTooltip-tooltip {
  font-size: 1.2vw !important;
  color: var(--main-text-color) !important;
  background-color: var(--secondary-background-color) !important;
  padding: 0.7rem !important;
  border-radius: 1.2rem !important;
  border: 0.2rem solid var(--main-color);
  box-shadow: 0.9vw 1.7vh 3rem 1rem rgba(0, 0, 0, 0.8);
  text-align: justify;
  min-width: 30vw;
}

.MuiTooltip-arrow {
  color: var(--main-text-color) !important;
}
