.slider-container {
  padding: 0 !important;
  margin-left: -1.1%;
  position: relative;
  overflow: hidden;
}

.slick-slide {
  background-color: var(--main-background-color);
  border: 3px solid var(--main-color);
  min-height: 45vh !important;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  overflow: auto;
}

.slick-center .slick-slide {
  filter: none;
  transform: scale(1.05);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 5%;
  z-index: 1;
  @media (max-width: 767px) {
    margin-right: 3% !important;
    top: 2% !important;
  }
}

.slick-prev {
  left: 1%;
}

.slick-next {
  right: 2%;
}

.slick-slide:not(.slick-center) {
  filter: blur(5px) brightness(1.2) contrast(1.2) opacity(0.5);
}

.slick-prev:before,
.slick-next:before {
  font-size: 2.5rem;
  color: var(--main-hover-color) !important;
  @media (max-width: 767px) {
    font-size: 2rem !important;
  }
}

.inactive-text {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  scale: 0.8;
  color: var(--inactive-element-color) !important;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}
.active-text {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  color: inherit;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.period-row {
  color: var(--main-color);
}
.continue-button-container {
  margin-top: 2vh;
}
.this-website-button {
  margin-top: 3vh;
  margin-left: 13.2vw;
  width: 60%;
}

@media (max-width: 767px) {
  .slick-slide {
    min-height: 155vh !important;
    padding: 3vw !important;
    overflow: hidden !important;
    align-self: center;
    text-align: center !important;
  }
  .this-website-button {
    margin-left: 0;
    width: 100%;
  }
}
.text-justify {
  text-align: justify !important;
}
.time-start-row {
  @media (max-width: 767px) {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -1vh !important;
    padding-right: 6.7vw !important;
  }
}
.time-division-row {
  @media (max-width: 767px) {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -1vh !important;
    padding-right: 6.5vw !important;
  }
}
.time-end-row {
  @media (max-width: 767px) {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -1vh !important;
    padding-right: 7.7vw !important;
  }
}

.align-zeo-list {
  li {
    @media (max-width: 767px) {
      margin-left: -4vw !important;
    }
  }
}
