.footer-body {
  width: 100vw;
  background-color: var(--secondary-background-color);
  color: #6a6a6a;
}
.scroll-to-top-button {
  background: none;
  border: none;
  cursor: pointer;

  .MuiSvgIcon-root {
    color: var(--main-color);

    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 5vw;
  }

  &:hover {
    background-color: var(--secondary-background-color);

    .MuiSvgIcon-root {
      color: var(--main-hover-color);
      transform: scale(1.1);
    }
  }
}
