.footer-body {
  width: 100vw;
  background-color: var(--secondary-background-color);
  color: var(--footer-text-color);
  @media (max-width: 767px) {
    padding: 3%;
    padding-right: 6%;
    padding-top: 15% !important;
    padding-bottom: 25% !important;
  }
}
.scroll-to-top-button {
  background: none;
  border: none;
  cursor: pointer;

  .MuiSvgIcon-root {
    color: var(--footer-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 5vw;
    @media (max-width: 767px) {
      font-size: 5em;
    }
  }

  &:hover {
    background-color: var(--secondary-background-color);

    .MuiSvgIcon-root {
      color: var(--main-color);
      transform: scale(1.1);
    }
  }
}
.copyright-text-container {
  @media (max-width: 767px) {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }
}
