.main-page-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  color: var(--main-text-color);
  background-color: var(--secondary-background-color);
  align-items: center;
  width: 100vw;
  margin-bottom: 2vh;

  @media (min-width: 768px) {
    border-bottom: 0.8vh solid var(--main-color);
    .main-page-header-logo {
      padding-left: 1vw;
    }
    .main-page-header .row {
      display: flex;
      justify-content: space-between;
    }
    .main-page-header .col.d-none.d-md-flex {
      display: flex !important;
    }
    .dropdown-toggle-btn {
      display: none;
    }
  }

  @media (max-width: 767px) {
    border-bottom: 1vh solid var(--main-color);
    height: 12vh;
    .main-page-header .row {
      display: flex;
      justify-content: space-between;
    }
    .main-page-header .col.d-none.d-md-flex {
      display: none !important;
    }
    .dropdown-toggle-btn {
      position: absolute;
      padding-left: 1vw;
      padding-top: 2vh;
      transform: translateY(-50%);
      background-color: var(--secondary-background-color);
      color: var(--main-color);
      border: none;
      border-radius: 5px;
    }

    .main-page-header-logo {
      height: 14vh;
      width: auto;
      padding-bottom: 5vh;
    }
  }
}

.main-page-header-logo-button {
  all: unset;
  display: inline-block;
  &:hover,
  &:focus,
  &:active {
    background: none;
    box-shadow: none;
    outline: none;
    filter: none;
  }
}
.main-page-header-logo {
  width: 10vw;
  height: auto;
  margin-bottom: -1.5vh !important;
  margin-top: -1.5vh !important;
}
